//font-face Light
@font-face 
{
  	font-family: $font-l;
  	src: url('../../fonts/SourceSansPro-Light.ttf');
}

//font-face Regular
@font-face 
{
    font-family: $font-r;
    src: url('../../fonts/SourceSansPro-Regular.ttf');
}

//font-face Medium
@font-face 
{
    font-family: $font-m;
    src: url('../../fonts/SourceSansPro-SemiBold.ttf');
}

//font-face Bold
@font-face 
{
    font-family: $font-b;
    src: url('../../fonts/SourceSansPro-Bold.ttf');
}