header{
    padding: toRem(9px) 0;
}
.home-link{
    .main-logo{
        width: 120px;
    }
}
.searchbar-form{
    width: 75%;
    margin: 0 auto;
    margin-top: .5rem;
    .search-holder{
        border-radius: toRem(25.5px);
        border: 1px solid rgba(var(--black-rgb), 0.2);
        padding: toRem(8px) toRem(18px);
        display: flex;
        background-color: var(--white);
        .search-bar{
            border: none;
            outline: none;
            width: 100%;
            background-color: transparent;
        }
        i{
            align-self: center;
            color: rgba(var(--black-rgb), 0.7);
        }
    }
}
.accessibility-box{
    margin: 10px 0;
    text-align: center;
    justify-content: center;
    .contrast-icon{
        padding: 8px;
        background-color: var(--white);
        border-radius: 10px;
        cursor: pointer;
        border: 2px solid var(--primary);
        color: var(--primary);
    }
    .font-resize-holder{
        align-self: center;
        border-left: 1px solid var(--primary);
        margin-left: 10px;
        .font-resize{
            font-size: 20px;
            margin-left: 10px;
            cursor: pointer;
            color: var(--secondary);
            font-family: $font-m;
        }
        .size-small{
            font-size: 16px;
        }
        .size-large{
            font-size: 23px;
        }
    }
}

// Start Media Query //
@media (min-width: 992px){
    .home-link{
        .main-logo{
            width: 158px;
        }
    }
    .searchbar-form{
        width: 25%;
        margin: 0;
        align-self: center;
        .search-holder{
            background-color: transparent;
        }
    }
    .accessibility-box{
        margin: 0 10px 0 auto;
        display: flex;
        .contrast-icon{ 
            align-self: center;
        }
        .font-resize-holder{
            align-self: center;
            border-left: 1px solid var(--primary);
            margin-left: 10px;
            .font-resize{
                font-size: 20px;
                margin-left: 10px;
                cursor: pointer;
                color: var(--secondary);
                font-family: $font-m;
            }
            .size-small{
                font-size: 16px;
            }
            .size-large{
                font-size: 23px;
            }
        }
    }
}
// End Media Query //