nav{
    background-color: var(--grey-3);
    .nav-holder{
        ul.lvl2{
            .dropdown-item.dropdown-toggle{
                &::after{
                    border-top: 0.3em solid;
                    border-right: 0.3em solid transparent;
                    border-bottom: 0;
                    border-left: 0.3em solid transparent;
                }
            }
        }
    }
    .navbar-toggler.collapsed{
        .menu-icon{
            display: block;
        }
        .close-icon{
            display: none;
        }
    }
    .navbar-toggler{
        width: 50px;
        height: 40px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .menu-icon{
            display: none;
        }
        .close-icon{
            display: block;
        }
        &:focus{
            box-shadow: 0 0 0 0.1rem;
        }
    }
}

// Start Media Query //
@media (min-width: 992px){
    nav{
        .nav-holder{
            ul{
                .dropdown-box{
                    display: flex;
                } 
            }
            ul.lvl1{
                .nav-item.dropdown{
                    position: initial;
                }
                li.nav-item{
                    margin-right: toRem(40px);
                    a.nav-link{
                        padding-left: 0;
                        font-family: $font-r;
                        position: relative;
                        color: var(--black);
                        &:hover{
                            font-family: $font-m;
                            &::after{
                                display: inline-block;
                            }
                        }
                        &::after{
                            bottom: 0;
                            position: absolute;
                            transform: translateX(-50%) scale(-1);
                            left: 50%;
                            margin: 0;
                            display: none;
                            color: var(--grey-1);
                            border-top: .5em solid;
                            border-right: .5em solid transparent;
                            border-left: .5em solid transparent;
                        }
                    }
                }
                li.nav-item.show{
                    a.nav-link{
                        font-family: $font-m;
                        &::after{
                            display: inline-block;
                        }
                    }
                }
                ul.lvl2.show,ul.lvl3.show{
                    min-width: 100%;
                    left: 0;
                    background-color: var(--grey-1);
                    border: none;
                    padding: 0;
                    border-radius: 0;
                    li{
                        margin-right: toRem(30px);
                        a.dropdown-item{
                            color: var(--primary);
                            padding: 0.9rem 0;
                            position: relative;
                            &:hover{
                                background-color: transparent;
                                &::after{
                                    display: inline-block;
                                }
                            }
                            &::after{
                                bottom: 0;
                                position: absolute;
                                transform: translateX(-50%) scale(-1);
                                left: 50%;
                                margin: 0;
                                display: none;
                                color: var(--primary);
                                border-top: .5em solid;
                                border-right: .5em solid transparent;
                                border-left: .5em solid transparent;
                            }
                        }
                        a{
                            font-family: $font-r;
                        }
                    }
                    .nav-item-lvl2{
                        &:hover{
                            a{
                                font-family: $font-m;
                                &::after{
                                    display: inline-block;
                                }
                                &::before{
                                    content: "";
                                    position: absolute;
                                    width: 100%;
                                    height: 1px;
                                    background-color: var(--primary);
                                    bottom: 13px;
                                }
                            }
                        }
                    }
                }
                ul.lvl3.show{
                    margin-top: toRem(51px);
                    background-color: var(--primary);
                    .nav-item-lvl3{
                        a.dropdown-item{
                            color: var(--white);
                            font-family: $font-r;
                        }
                        &:hover{
                            a{
                                font-family: $font-m;
                                &::before{
                                    content: "";
                                    position: absolute;
                                    width: 100%;
                                    height: 1px;
                                    background-color: var(--white);
                                    bottom: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// End Media Query //