:root{
    --primary: #00609C;
    --secondary: #C017A2;
    --secondary-2: #e12dc1;
    --white: #fff;
    --black: #000;
    --black-rgb: 0,0,0;

    --grey-1: #E6E7E8;
    --grey-2: #EEEEEE;
    --grey-3: #f6f6f6;
    --grey-4: #e7f1ff;

    --linear-gradient-desktop: linear-gradient(90deg, rgba(1,0,32,1) 0%, rgba(4,0,57,1) 18%, rgba(3,0,80,1) 43%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
    --linear-gradient-reponsive: linear-gradient(0deg, rgba(1,0,32,1) 0%, rgba(4,0,57,1) 18%, rgba(3,0,80,1) 43%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
}