.services{
    background-color: var(--white);
    .services-holder{
        text-align: center;
        display: flex;
        flex-direction: column;
        .service-icon{
            width: 180px;
            height: 180px;
            margin: 0 auto;
        }
        .service-title{
            color: var(--primary);
            font-size: toRem(18px);
            font-family: $font-m;
        }
        .service-desc{
            color: var(--black);
            font-style: italic;
            font-size: toRem(16px);
            font-family: $font-l;
            margin: 10px auto;
            @include trim(4);
        }
    }
}
.service-title,.service-desc,.service-link{
    width: 80%;
    margin: 0 auto;
}
.content-common-link{
    color: var(--secondary);
    font-size: toRem(16px);
    margin-top: auto;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
        color: var(--secondary);
    }
}

// Start Media Query //
@media (min-width: 992px){
    .service-desc{
        margin: 10px auto 20px;
    }
    .content-common-link{
        margin-top: auto;
    }
}
// End Media Query //